.wetherBg {
  background: url("xyz.webp");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: rgb(7, 14, 5);
  font-weight: 700;
}

.wetherResultBox {
  margin: auto;
  align-items: center;
}

.weathorIcon {
  margin-top: 2rem;
  width: 200px;
  height: 200px;
}

.weathorCity {
  font-size: 35px;
}

.weatherVisibility {
  font-size: 35px;
}

.weatherHumidity {
  font-size: 35px;
}

.weathorTemprature {
  font-size: 55px;
  font-weight: 700;
}